body {
    width: auto;
    height: auto;
    background-color: #0f0f0f;
    /*background-size: cover;*/
}

.conteiner {
    background-color: #269abc;
    width: 30%;
    text-align: center;
    display:inline;
}

.header-bottom {
    position: absolute;
    left: 30%;
    right: 30%;
    /*bottom: 5%;*/
}
.blue-rectangle {
    height: 100px;
    background-color: rgba(3, 78, 136, 0.7);
    padding: 10px 20px 10px 40px;
    margin-bottom: 20px;
    position: relative;
}
.blue-rectangle p {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
}

// nth child