body {
    width: auto;
    height: auto;
    background: #47000e;
    /*background-size: cover;*/
}

.conteiner {
    background-color: #269abc;
    width: 30%;
    text-align: center;
    display:inline;
    width: 40%;
    margin: 100px;
}

.div-radius {
    background-color: #053b46;
    height: 70px;
    margin-bottom: 60px;
    color: white;
    /*position: relative;*/
}

.header-bottom {
    position: relative;
    left: 30%;
    right: 30%;
    width: 40%;
}
.blue-rectangle {
    height: 100px;
    background-color: rgba(3, 78, 136, 0.7);
    padding: 10px 20px 10px 40px;
    margin-bottom: 230px;
    /*position: relative;*/
}
.div-radius p {
    color: white;
    text-transform: uppercase;
    font-size: 218px;
    position: relative;
}

/* nth child */